useDynLib(ppstat, .registration = TRUE)

import(processdata,
       Matrix,
       ggplot2,
       splines,
       methods)

importFrom("stats",
           coefficients,
           family,
           formula,
           predict,
           vcov)

           

exportClasses(Family,
              PointProcess,
              PointProcessModel,
              PointProcessSmooth)

export(bSpline,
       const,
       Hawkes,
       Gibbs,
       pointProcessModel,
       pointProcessSmooth,
       tExp)

S3method(print,
         summary.ppm)

exportMethods(coefficients,
              computeMinusLogLikelihood,
              computeDMinusLogLikelihood,
              computeDDMinusLogLikelihood,
              family,
              formula,
              getInformation,
              getLinearFilter,
              predict,
              ppmFit,
              processData,
              stepInformation,
              subset,
              summary,
              termPlot,
              update,
              vcov)
