useDynLib(ppstat, .registration = TRUE)

import(Matrix)

importFrom("splines",
           splineDesign)
       
importFrom("stats",
           family,
           predict,
           vcov)

importFrom("processdata",
           "subset")
           
exportClasses(Family,
              PointProcess,
              PointProcessModel,
              PointProcessSmooth,
              MultivariatePointProcess)

export(bSpline,
       coefficients,
       const,
       formula,
       Hawkes,
       Gibbs,
       pointProcessModel,
       pointProcessSmooth,
       registerParBackend,
       tExp,
       update)

S3method(print,
         summary.ppm)

exportMethods("coefficients",
              "coefficients<-",
              "computeMinusLogLikelihood",
              "computeDMinusLogLikelihood",
              "computeDDMinusLogLikelihood",
              "family",
              "formula",
              "getLocalIndependenceGraph",
              "getInformation",
              "getLinearFilter",
              "predict",
              "ppmFit",
              "processData",
              "stepInformation",
              "subset",
              "summary",
              "termPlot",
              "update",
              "vcov")
